body {
  overflow-x: hidden !important;
}

 /* Header section start */

header {
  background-color: #264653;
  width: 100%;
  color: white;
}

.Heading {
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 72px;
  letter-spacing: 0px;
}

@media (max-width:768px) {
  .Heading {
    font-size: 35px;
  }
}

.p-head {
  color: #E0E0E0;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0px;
}
 /* modal part */

.modal-title {
  color: black;
  font-size: 20px;

}

.modal-t {
  color: red;
  font-size: 18px;
}

.modal-p {
  color: #090101;
}

.link-button {
  color: white;
  font-weight: 600;
  padding: 15px 35px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 10px;
  border: 0;
  background-color: #e46600;
}

/* Header section end */

/* Fetured Bikes Part start */
.feture-b-group {
  padding-top: 20px;
}

.Feture-heading {
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 72px;
  letter-spacing: 0px;

}

.feture-s {
  color: #E76F51;
  font-weight: 600;
  font-size: 14px;
  line-height: 0px;

}

@media (max-width:768px) {
  .Feture-heading {
    font-size: 36px;
  }
}

.overly-gray {
  filter: grayscale(100%);
}

@media (max-width:768px) {
  .feture-bike img {
    margin-bottom: 85px !important;
  }
}

/* Fetured Bikes Part end */

/* Customer Feedback  part start */
.review-sec {
  padding-top: 5rem;
}

.client {
  color: #E76F51;
}

.reviewer img {
  width: 149px;
  height: 149px;
}

.c-heading {
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 72px;
  letter-spacing: 0em;
}

@media (max-width:768px) {
  .c-heading {
    font-size: 36px;
  }
}

.rev-name {
  color: #23A6F0;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.20000000298023224px;

}

.rev-title {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.20000000298023224px;
}
/* Customer Feedback  part end */

/* Frequently Q&A part start */
.freq-sec {
  margin-top: 8rem !important;
  height: 630px;
  width: auto;

}

@media (max-width:768px) {
  .freq-sec {
    height: auto !important;
  }
}

.freq-heading {
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 50px;
  letter-spacing: 0px;
  text-align: center;
}

.freq-s {
  color: #E76F51;
}


.accordion-item {
  border: 1px solid #D5E5FB !important;
}

.acco-item h2 button {
  font-size: 20px;
  font-weight: 500;
}

.faq-p {
  color: #7E848C;
  font-size: 16px;
  font-weight: 400;
}

@media (max-width:768px) {
  .acco-group {
    margin-top: 40px;
  }
}
/* Frequently Q&A part end */

/* bike gallary part */
.card-b {
  border: 1px solid #D5E5FB !important;
}

.cus-h {
  color: #042041;
  ;
}

/* footer  */
.footer-sec {
  margin-top:70px ;
  width: auto;
  height: 300px;
} 
f
.footer-sec p {
  color: gray;
  padding-top: 200px;
  
}

/************ End **************/